<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>

    <a href="userAdd">添加用户</a>
    <tr>

        <td>id</td>
        <td>用户名</td>
        <td>密码</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>性别</td>
        <td>日期</td>
        <td>备注</td>

    </tr>
    <tr th:each="user : ${users}">

        <td th:text="${user.id}">1</td>
        <td th:text="${user.userName}">tom</td>
        <td th:text="${user.password}">12345</td>
        <td th:text="${user.name}">t</td>
        <td th:text="${user.age}">11</td>
        <td th:text="${user.sex}==1?'男':'女'">男</td>
        <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}">2019-12-12</td>
        gggvvvv <td th:text="${user.note}">ok</td>


    </tr>
</table>
</body>
</html>